<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is home page</h1>
    <h2>name:<%=name %></h2>
    <h2>id:<%=id %></h2>
    <h4><a href="/logout">logout</a></h4>
</body>
</html>